* {
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}
nav {

    width: 100%;
    height: 50px;
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
position: fixed;
top: 0;

}
nav a {
    position: relative;
    color: white;
    text-decoration: none ;
    overflow: hidden;
    padding: 3px;
}
nav a:hover {
    color: gold;
    cursor: pointer;
}
section{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5em;
}
section:nth-of-type(odd) {
    background-color: purple;
    color: white;
}
section:nth-of-type(even) {
    background-color: rgb(0,90,128);
    color: white;
}
nav a::before {
    position: absolute;
    content: "";
    left: -102%;
    height: 100%;
    width: 100%;
    background-color: purple;
   z-index: -1;
   transition: transform 0.3s;
  
   
}
nav a:hover::before {
    transform: translate(205%);
}
nav a::after {
    position: absolute;
    content: "";
    left: 105%;
    bottom: 0;
    height: 8%;
    width: 100%;
    background-color: purple;
   z-index: -1;
   transition: transform 0.3s;
}
nav a:hover::after {
    transform: translate(-105%);
}
